﻿@model IEnumerable<ExportToExcel.Model.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h2>Products</h2></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OutOfStock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StockDate)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OutOfStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockDate)
                        </td>
                    </tr>
            }

                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                @Html.ActionLink("Download","Download","Home",new { @class= "btn btn-success" })
            </div>
        </div>
    </div>
    
</body>
</html>
